<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Manager</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <nav class="navbar">
        <a class="navbar__logo">
            <img src="/images/logo-256.png" alt="Node.js Stock Manager" />
        </a>
        <ul class="navbar__list">

            {{#if session.userid}}
                <li class="navbar__item">
                    <a class="navbar__link" href="#">Products</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="#">Add Product</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="#">Perfil</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/logout">Logout</a>
                </li>
            {{else}}
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/register">Sign up</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/auth/login">Sign in</a>
                </li>
            {{/if}}
        </ul>
    </nav>

    <div class="container">
        {{#if messages.message}}
        <div class="message">
            {{messages.message}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="message">
            {{message}}
        </div>
        {{/if}}
        {{{body}}}
    </div>

    <footer>
        <span>&copy; NodeStock</span>
    </footer>


</body>

</html>