body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f9f9f9;
}

a {
    text-decoration: none;
    color: #14A44D;
    font-weight: bold;
    /* font-size: 1.2em; */
}

/* CSS PARA NAVBAR E CONTAINER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #14A44D;
}

.navbar__logo img {
    max-width: 52px;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.navbar__item {
    /* Estilos para itens da navbar */
}

.navbar__link {
    color: #fff;
    font-weight: bold;
}

.container {
    flex: 1;
    width: 80%;
    margin: auto;
}

.message {
    color: #666;
    padding: 12px 24px;
    vertical-align: center;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 5px;
    background-color: #9bffd9;
}

.message .message__link{
    color: #54B4D3;
}

/* CSS PARA FORMULÁRIO DE LOGIN E REGISTRO */

.auth {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 24px;
    background: #f2f2f2;
    border-radius: 8px;
}

.auth .auth__title {
    text-align: center;
}

.auth__highlight {
    color: #14A44D;
    font-weight: bolder;
}

.auth__form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.auth__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.auth__label {
    font-weight: bold;
}

.auth__input {
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0px 10px;
}

.auth__input--textarea {
    height: auto;
}

.btn {
    background-color: #f2f2f2;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn--primary {
    background-color: #14A44D;
}

.btn-danger{
    background-color: #DC4C64;
}

.btn-info{
    background-color: #54B4D3;
}

.center_vertical_horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: 1;
}

/**** CSS FOR REGISTER FORM ****/

.auth--register {
    transform: translate(-50%, -50%);
    padding: 12px 24px;
}

/***** CSS FOR PRODUCTS ******/

.myproducts .myproducts__title {
    color: #292929;
    font-size: 1.5em;
}

.myproducts .myproducts__container {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.myproducts .myproducts__item {
    max-width: 250px;
    text-align: center;
    background-color: #fff;
    padding: 12px;
}

.myproducts .myproducts__item .product--image
{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.myproducts .myproducts__item a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.myproducts__item a img {
    width: 100%;
    max-width: 300px;
}

.myproducts__item-title
{
    font-size: 1em;
    color: #666;
}
.myproducts__item-price {
    color: #292929;
    font-size: 1.5em;
}

/* .myproducts__item-description {
    font-size: 1em;
    color: #666;
} */

.myproducts .myproducts__item a:hover .myproducts__item-title {
    color: #a3a3a3;
}

.form--delete
{
    display: inline;
}

/***** CSS FOR REGISTER PRODUCTS *****/

.auth__form--register {
    max-width: 800px;
    margin: 20px auto;
}

.auth__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.auth__form-group--register{
    flex: 1;
}

.imageupload .imageupload__label
{
    display: block;
    background: #c0c5ce;
    color: #fff;
    font-size: 50px;
    text-align: center;
    max-width: 100px;
    padding: 20px;
    margin-top: 5px;
}

.imageupload .imageupload__input{
    display: none;
}

.btn--register{
    max-width: 200px;
    width: 100%;
}

/******** CSS FOR DETAIL PRODUCT   *****/

.product{
    display: flex;
    padding: 24px;
    gap: 2em;
}

.product__images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.main-image{
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.product__images__item, #main-image
{
    width: 70px;
    height: 70px;
}

.product__images__carousel{
    display: flex;
    gap: 0.3em;
}

.product__info{
    display: flex;
    flex-direction: column;
}

.title__product{
    margin: 0;
}

.price__product
{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/****** CSS FOR FOOTER ******/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #f2f2f2;
    width: 100%;
    /* position: absolute; 
    bottom: 0; */
}

footer span {
    color: #666;
    font-size: 0.8em;
}